<!DOCTYPE html>
<html>
    <head>
        <title>Listando Fotolivros!</title>
    </head>
    <body>
        <h1>Detalhes do fotolivro: {{ name }}</h1>

        <p>Código do albúm: {{ code }}</p>
    </body>
</html>